# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 7b616a2504ef29494a5cbdb6b5b57bff04e11cdeaac2d2da7737af61f4c542a0950bf37ea1f1a4966e8b3bff10745855204bdc162a36c2d7e3a353eec98452c5

test:
  secret_key_base: 22032b91087e4fdaf213c7a0bd02ecf4002648e7f17d326e7b1113e9bd420d725fed1f587f796a2f98a80d4f284f2b068220603dd5c3db0c7b336e5da01230ab

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
